@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



.ant-btn>span {
  display: inline-flex;
}

.ant-upload-list-picture-card-container {
  @apply h-126px !important;
}

#header .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  @apply bg-gradient-to-r from-skyblue via-blue to-pink h-9;
  -webkit-text-stroke: .1px #c5c5c5;
}

#header .ant-input {
  height: 2.25rem !important;
}

#header .ant-input-search-button {
  @apply h-9 !important;
}

#header .ant-btn-primary {
  @apply text-white !important bg-black !important border-none !important;
}

#header .ant-select-single:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-item {
  margin: auto 0;
}

#header .ant-select-selection-item {
  @apply text-white !important text-lg !important;
}

.swiper-pagination-bullet-active {
  @apply bg-pink !important;
}