@import "mixins";
@import "override";
@import "search";
@import "add";
@import "utility";
@import "elan";

@font-face {
    font-family: 'Main';
    src: url(/fonts/Alegreya-Regular.ttf);
}

//Colors
$main-color : #000;
$second-color : rgb(66, 66, 66);
$main-gradient: linear-gradient(90deg, rgba(255, 192, 192, 1) 0%, rgba(176, 209, 255, 1) 52%, rgba(185, 255, 205, 1) 100%) no-repeat;
$main-gradient-reverse: linear-gradient(190deg, rgba(255, 192, 192, 1) 0%, rgba(176, 209, 255, 1) 52%, rgba(185, 255, 205, 1) 100%) no-repeat;
$main-gradient-mirror-reverse: linear-gradient(0deg, rgba(255, 192, 192, 1) 0%, rgba(176, 209, 255, 1) 52%, rgba(185, 255, 205, 1) 100%) no-repeat;


//General
$left-padding: 0 4rem;
$left-padding-side-size: 4rem;

//NavBar
$nav-bar-height: 45px;

//Header
$header-height: 45px; //350px;
$height-margin-error: 15px;

$coursel-item-height-1440: 250px;
$coursel-item-height-1024: 300px;
$coursel-item-height-768: 250px;
$coursel-item-height-425: 300px;

$coruselNumber: 4;


//Card
$card-height: 100%;
$card-main-side-height: (100%/6)*5;
$card-main-side-right-part-color: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, .7));
$card-main-side-right-part-width: 100%/6;
$card-main-side-left-part-width: (100%/6)*6;
$card-bottom-side-height: 100%/6;
$card-bottom-color: white;

$card-main-right-item-amount: 3;


//Category
$category-box-shadow: 0rem 0rem 20px -15px;
$category-item-width: 100%/4;
$category-item-height: 300px;


@include utility();
@include elan();





//END HEADER

/*Search*/

.search {
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .searchContainer {
        padding: 0 1rem;
        width: 100%;
        display: flex;
        justify-content: center;
    }


}

/*End Search*/

@include add();

//Card
.card {
    height: $card-height;
    box-shadow: 0 0 20px -10px black;

    .card-main-side {
        height: $card-main-side-height;
        position: relative;

        .background {
            height: 100%;
            position: relative;

            .slider {
                height: 100%;
                display: flex;
                overflow-x: hidden;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    transition: all 1s ease;

                }
            }

            .leftPart {
                height: 100%;
                width: $card-main-side-left-part-width;
                position: absolute;
                bottom: 0;

                >.Premium {
                    color: white;
                    font-size: 1.35rem;
                    position: absolute;
                    left: 5px;
                    top: 5px;
                }

                .sliderDots {
                    width: 100%;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: 0;
                    display: flex;
                    justify-content: flex-start;
                    padding-bottom: 5px;
                    display: flex;
                    overflow-x: hidden;
                    width: .75rem*7;
                    gap: 2px;

                    .dot {
                        flex: 0 0 auto;
                        cursor: pointer;
                        //margin: 0 2px;
                        height: .75rem;
                        width: .75rem;
                        background-color: rgba(255, 255, 255, .25);
                        border: 1px solid #292929;
                        border-radius: 50%;
                        display: inline-block;
                    }

                    .activeDot {
                        background-color: white;
                    }
                }
            }
        }

        .rightPart {
            position: absolute;
            top: 0;
            right: 0;
            background-image: $card-main-side-right-part-color;
            width: $card-main-side-right-part-width;
            height: 100%;

            .item {
                height: 100% / $card-main-right-item-amount;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                >.icon {
                    font-size: 1.25rem;
                    text-align: center;
                    color: white;
                }

                >.value {
                    font-size: .85rem;
                    text-align: center;
                    color: white;
                }
            }
        }
    }

    .card-bottom-side {
        height: $card-bottom-side-height;
        display: flex;
        background-color: $card-bottom-color;

        .side {
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .leftSide {}

        .rightSide {}

        .icon {
            color: #292929;
            font-weight: bold;
            //padding-right: 5px;
            display: flex;
            justify-content: center;
        }

        .value {
            font-weight: 500;
        }

    }
}

//END CARD


.categoryCard {
    box-shadow: $category-box-shadow;
    padding: 10px 0;
    border-radius: 10px;
    margin-bottom: 40px;

    .titles {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .categoryTitle {
            text-align: left;
            font-size: 1.5rem;
            padding: 10px 1rem;
        }

        .extraTitle {
            padding: 10px 1rem;
            text-decoration: underline;
        }
    }

    .categoryList {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        >.item {
            height: $category-item-height;
            width: $category-item-width;
            padding: 10px;
        }
    }
}

@include Search();

//Additions
.fixed{
    position: fixed;
    z-index: 5;
}

.fixedBtnSize{
    width: 50px!important;
    height: 50px!important;
}

.fixRight{
    right: 1.75rem;
}

.fixBottom{
    bottom: 2rem;
}

.none {
    display: none;
}

.noShadow {
    box-shadow: none;
}

.white {
    color: white;
} 

.makeBlock{
    display: block!important;
    padding-bottom: 15px;
}
