//Carousel
@mixin initCarousel($coruselNumber, $coursel-item-height) {
    .header-carousel{
        height: 100%;
        width: 100%;
        padding: $left-padding;
        position: relative;
        .header-carousel-container{
            height: 100%;
            display: flex;
            overflow-x: hidden;
        }
        .previous-button{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 2rem;
            left: 1rem;
        }

        .next-button{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 2rem;
            right: 1rem;
        }
    }
    .carousel-item-container{
        height: $coursel-item-height;
        margin-bottom: 10px;
        flex-wrap: nowrap;
        flex: 0 0 auto;
        width: 100%/$coruselNumber;
        transition: all 2s ease;
        > .item{
            height: 100%;
            width: 100%;
            padding: $height-margin-error $height-margin-error $height-margin-error $height-margin-error;
        }
    }
}