$main-gradient: linear-gradient(90deg, rgba(255, 192, 192, 1) 0%, rgba(176, 209, 255, 1) 52%, rgba(185, 255, 205, 1) 100%) no-repeat;


.ant-btn {
    span{
        font-family: 'Main';
        font-weight: 600;
    }
}

.ant-input-affix-wrapper-focused{
    border-color: gainsboro;
}

.ant-input-affix-wrapper{
    &:focus{
        border-color: gainsboro;
    }
    &:hover{
        border-color: gainsboro;
    }
}



.leftSide{
    .ant-select-single{
        width: 100%!important;
    }
}